appdirs==1.4.4
asgiref==3.8.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
crispy-bootstrap4==2024.1
cycler==0.12.1
distlib==0.3.8
Django==5.0.6
django-bootstrap4==24.3
django-crispy-forms==2.2
filelock==3.15.4
flexcache==0.3
flexparser==0.3.1
fonttools==4.53.0
humanfriendly==10.0
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.1
MetPy==1.6.2
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
Pint==0.24.1
pipenv==2024.0.1
platformdirs==4.2.2
pooch==1.8.2
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.14.0
setuptools==70.1.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
xarray==2024.6.0
